<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 用于存储角色编号，默认值为空 -->
		<add key="角色编号" value="" />
		<add key="用户名" value="" />
		<!-- 其他设置 -->
		<add key="rememberme" value="false" />
		<add key="loginID" value="" />
		<add key="passwd" value="" />
	</appSettings>
</configuration>
